// custom-color

$blue: #0dc3e7;
$light-blue: #9be7f760;
$dark-blue: #4154f1;
$white-blue: #fafbff;

$green: #02fd56;
$dark-green: #0d8b37;
$light-green: #84ffaf;

$orange: #f68c09;
$dark-orange: #c06a00;
$light-orange: #faac4c;

$yellow: #ffc107;
$dark-yellow: #cfa900;
$light-yellow: #ffd24d;
