@font-face {
  font-family: Shabnam;
  src: url("../../font/Shabnam.eot");
  src: url("../../font/Shabnam.eot?#iefix") format("embedded-opentype"),
    url("../../font/Shabnam.woff2") format("woff2"),
    url("../../font/Shabnam.woff") format("woff"),
    url("../../font/Shabnam.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url("../../font/Shabnam-Bold.eot");
  src: url("../../font/Shabnam-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../font/Shabnam-Bold.woff2") format("woff2"),
    url("../../font/Shabnam-Bold.woff") format("woff"),
    url("../../font/Shabnam-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url("../../font/Shabnam-Thin.eot");
  src: url("../../font/Shabnam-Thin.eot?#iefix") format("embedded-opentype"),
    url("../../font/Shabnam-Thin.woff2") format("woff2"),
    url("../../font/Shabnam-Thin.woff") format("woff"),
    url("../../font/Shabnam-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Shabnam;
  src: url("../../font/Shabnam-Light.eot");
  src: url("../../font/Shabnam-Light.eot?#iefix") format("embedded-opentype"),
    url("../../font/Shabnam-Light.woff2") format("woff2"),
    url("../../font/Shabnam-Light.woff") format("woff"),
    url("../../font/Shabnam-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url("../../font/Shabnam-Medium.eot");
  src: url("../../font/Shabnam-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../font/Shabnam-Medium.woff2") format("woff2"),
    url("../../font/Shabnam-Medium.woff") format("woff"),
    url("../../font/Shabnam-Medium.ttf") format("truetype");
  font-weight: 500;
}

body,
*,
*::after,
*::before {
  font-family: "shabnam";
  font-weight: normal;
}
