header {
  nav.navbar {
    padding: 20px 0;
    background-color: white;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    @media screen and (min-width: 992px) {
      & {
        background-color: transparent !important;
      }
      &.header_scrolled {
        background-color: white !important;
        box-shadow: 0px 2px 15px 5px rgba(221, 221, 221, 0.452);
      }
    }
  }
}
@media screen and (min-width: 992px) {
  nav.navbar {
    background-color: transparent !important;
  }
  .header_scrolled {
    background-color: white !important;
    box-shadow: 0px 2px 15px 5px rgba(221, 221, 221, 0.452);
  }
}
